a.nav-link.text-light{


    font-family: 'Alice', serif;
}

.navbar.navbar-dark {

    background-color: #4895ef !important;

}

a.dropdown-item{

    font-family: 'Alice', serif;
}

a#navbarDarkDropdownMenuLinkMenuLink.nav-link.dropdown-toggle.text.light {

    font-family: 'Alice', serif;
}